@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: "Noto Serif";
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main {
  width: 680px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.my-image-and-name {
  display: flex;
}

.image-container img {
  width: 200px;
}

.name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
}
.my-name {
  font-size: 30px;
  font-weight: 700;
}

.my-name a {
  color: #000;
  text-decoration: none;
}

.my-name a:hover {
  color: #007acc;
}

.my-location {
  margin-top: 5px;
}

.contact a {
  color: #007acc;
}

.my-bio {
  margin-top: 35px;
  font-size: 18px;
  user-select: none;
}

.my-bio a {
  color: #007acc;
}

.my-posts {
  margin-top: 60px;
}

.my-posts div {
  font-size: 19px;
  text-decoration: underline;
  margin-bottom: 15px;
}

.my-posts ul {
  margin-left: 35px;
}

.my-posts li {
  margin-bottom: 10px;
}

.my-posts ul li a {
  color: #007acc;
  font-size: 18px;
}

.blog-container {
  width: 680px;
  margin: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navs {
  justify-content: flex-start;
  padding: 20px 0;
}

.home-text a {
  color: #007acc;
  font-size: 17px;
}

.blog-container h1 {
  font-size: 55px;
}

.date-span {
  margin: 10px 0;
  font-size: 16px;
  color: #00000090;
}

/* Markdown styles start */

.markd p {
  font-size: 19px;
  margin-bottom: 40px;
}

.markd a {
  color: #007acc;
}

.markd pre {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 25px;
  background-color: #222;
  color: white;
  border-radius: 8px;
}

.markd pre code {
  font-family: "Oxygen Mono";
}

.markd h2 {
  margin-bottom: 10px;
  text-decoration: underline;
}

.markd ol li {
  font-size: 17px;
}

.markd h3 {
  margin-bottom: 8px;
}

/* Markdown styles end */

.blog-container h1 {
  margin-bottom: 50px;
  margin-top: 20px;
}

.blog-footer {
  height: 200px;
}

.blog-container .info {
  justify-content: space-between;
  font-size: 16px;
}

@media only screen and (max-width: 830px) {
  .main {
    width: 450px;
  }
  .image-container img {
    width: 150px;
  }
  .my-name {
    font-size: 25px;
    font-weight: 700;
  }
  .my-bio {
    font-size: 16px;
  }
  .my-posts div {
    font-size: 17px;
  }

  .my-posts ul {
    margin-left: 35px;
  }

  .my-posts li {
    margin-bottom: 10px;
  }

  .my-posts ul li a {
    color: #007acc;
    font-size: 16px;
  }
  .blog-container {
    width: 450px;
  }
  .blog-container h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .markd p {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .markd ol li {
    font-size: 15px;
  }
  .markd pre {
    width: 100%;
    padding: 15px;
  }
  .markd pre code {
    font-size: 12px;
  }
}

@media only screen and (max-width: 500px) {
  .main {
    width: 350px;
  }
  .image-container img {
    width: 150px;
  }
  .my-name {
    font-size: 15px;
    font-weight: 700;
  }
  .my-location {
    font-size: 13px;
  }
  .contact {
    font-size: 13px;
  }
  .my-bio {
    font-size: 14px;
  }
  .my-posts div {
    font-size: 16px;
  }

  .my-posts ul {
    margin-left: 35px;
  }

  .my-posts li {
    margin-bottom: 10px;
  }

  .my-posts ul li a {
    color: #007acc;
    font-size: 14px;
  }
  .blog-container {
    width: 350px;
  }
  .blog-container h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .markd p {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .markd ol li {
    font-size: 15px;
  }
  .markd pre {
    padding: 15px;
    width: 100%;
  }
  .markd pre code {
    font-size: 10px;
  }
}
